{% extends 'base.html' %}
{% load static %}
{% block title %} Show Employee {% endblock %}

{% block content %}
  <body>
    <center><div><h2 class="bg-primary text-white">List of Employees</h2></div></center>
    <table class="table w-100">
      <thead class="bg-danger text-white">
        <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Company</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{employee.eFname}}</td>
          <td>{{employee.eLname}}</td>
          <td>{{employee.eCompany}}</td>
          <td>{{employee.eEmail}}</td>
          <td>{{employee.ePhone}}</td>
          <td>
            
            <button class="btn-danger btn-sm" onclick="location.href='/delete/employee/{{employee.eFname}}'">Delete</button>
            <button class="btn-success btn-sm" onclick="location.href='/editemp/{{employee.eFname}}'">Update</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
{% endblock %}
